.skeletion-list {
	display: flex;
	margin-bottom: 55px;
	align-items: center;
	.skeletion-one {
		width: 170px;
		height: 170px;
		border-radius: 24px;
		margin-right: 46px;
	}
	.list-info {
		width: 100%;

		.skeletion-two {
			height: 44px;
			margin-bottom: 24px;
		}
	}
}
@media all and (max-width: 768px) {
	.skeletion-list {
		flex-direction: column;
		align-items: unset;
		.skeletion-one {
			width: 100%;
			height: 300px;
		}
		.list-info {
			width: 100%;
			padding-left: 10px;

			.skeletion-two {
				margin-top: 20px;
				height: 30px;
				margin-bottom: 10px;
			}
		}
	}
}
