* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.detail-page-control {
	margin: 40px 240px 30px 96px;
	font-family: 'Montserrat';
	font-style: normal;
	color: #291507;
	.title-text-detail {
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 52.63px;
	}
	.box-detail-info {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		.list-info-cat {
			display: flex;
			margin-bottom: 55px;
			align-items: center;
			.cat-image {
				width: 170px;
				height: 170px;
				.image {
					height: 100%;
					width: 100%;
					object-fit: cover;
					border-radius: 24px;
				}
			}
			.info-text-cat {
				width: 888px;
				height: auto;
				margin-left: 46px;
				.name-cat-text-index {
					display: flex;
					align-items: center;
					font-weight: 600;
					font-size: 36px;
					margin-bottom: 24px;
					line-height: 44px;
					.name-cat {
						margin-left: 5px;
					}
				}
				.text-desc {
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}
}

@media all and (max-width: 768px) {
	.detail-page-control {
		width: 100%;
		margin: auto;
		padding: 18px;
		.title-text-detail {
			font-size: 32px;
		}
		.box-detail-info {
			.list-info-cat {
				flex-direction: column;
				align-items: unset;
				.cat-image {
					width: 100%;
					height: auto;
				}
				.info-text-cat {
					margin-left: unset;
					width: 100%;
					.name-cat-text-index {
						font-size: 25px;
						margin-top: 10px;
						line-height: 22px;
					}
					.text-desc {
						font-size: 16px;
					}
				}
			}
		}
	}
}
