* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.input-field {
	font-family: 'Montserrat';
	border: unset;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #291507;
	width: 100%;
	height: 100%;
}
input:focus-visible {
	outline: unset;
}
